PUBLIC_URL=localhost:3000
NEXTAUTH_SECRET=ecowell-admin-2024

TWILIO_ACCOUNT_SID= # YOUR TWILO CRED.
TWILIO_SERVICE_SID= # YOUR TWILO CRED.
TWILIO_AUTH_TOKEN= # YOUR ID
TWILIO_PHONE= # YOUR TWILO NUMBER

GOOGLE_CLIENT_ID=784539244192-nmpua6g3u4b7j13gq2cmtc9ju0jl2ad2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

MONGODB_URI=mongodb+srv://ecowell:3CWeY1btb8ZBeQIu@ecowell.sd0i6.mongodb.net/?retryWrites=true&w=majority&appName=ecowell # YOU CAN REPLACE WITH YOUR OWN MONGODB...
GMAIL_USER= # YOUR GMAIL
GMAIL_PASSWORD= #APP PASSWORD NOT ACTUAL PASSWORD

UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2ZjYTEwZGEyNTI0ZTk3OGZiZTBhNTQ2OTVkNDUzNWU1ZjA0NzBhN2YwNGRhNWRhZTNhMDYyODBlMTUzN2NjMGYiLCJhcHBJZCI6IjVwMW43M3JoZTYiLCJyZWdpb25zIjpbInNlYTEiXX0='
